.idea
__pycache__/

*.log
agent/utils/llm_access/*.txt
output_img/
cache/
exports/
tmp_imgs/*.png
tmp_imgs/*.html
tmp_imgs/*.csv
tmp_imgs/*.docx
tmp_imgs/*.md
tmp_imgs/*.pdf

temp.png
temp.html

agent_log.txt

llmlog/*.txt

agent/tools/base_knowledge/knowledge_docs/*.md
agent/tools/base_knowledge/knowledge_docs/*.txt

./vue-front/node_modules

.kilo